# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project Specific
*.log
data/processed_eeg.csv
# We include the model since it's now small
!data/bci_model.pkl
